* {
    background-color: green;
    color: red;
}

h1 {
    color: pink;
}

.first-paragraph {
    color: blue;
}

#second-paragraph {
    color: brown;
}

ul li {
    color: cornsilk;
}